<ul class="nav_bar">
<a href="../tiezi/index.html"><li>帖子审核</li></a>
<a href="../comment/index.html"><li>评论审核</li></a>
<a href="../images/index.html"><li>图片审核</li></a>
<a href="../vocabulary/index.html"><li>敏感词库</li></a>
</ul>


